{% extends 'base.html' %}

{% block content %}
	
	<div id="arrive"></div>
	<div></div>
	<h4><i><b>{{title}}</b></i></h4>
	<hr/>
	<div class="row">
		<div class="col-sm-9">
			{% if page_obj %}
				<ul class="list-unstyled">
					{% for question in page_obj %}
						{% include "questions/question.html" %}
					{% endfor %}
				</ul>
				{% include "pagination.html" %}
			{% else %}
				<p>There are no Questions</p>
			{% endif %}
		</div>
		{% include "sidebar.html" %}
	</div>
{% endblock content %}