{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class='card shadow'>
			<div class="card-header">
				<h4><i><b>{{title}}</b></i></h4>
				<h5>{{about.site_title}}</h5>
			</div>
			<div class="card-body"
				style="padding-left:5%; padding-right:5%;">
				{{about.info|safe}}
			</div>
		</div>
		<hr/>
	</div>
	{% if authors %}
		<h5 class="text-center"><i><b>Our Authors</b></i></h5>
		<div class="card-columns">
			{% for author in authors %}
				<div class="card shadow">
					<div class="card-header">
						<h5 class="card-title">{{ author.profile }}</h5>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-3">
								<img width="100%" class="rounded" 
									src="data:image/jpg;base64,{{ author.profile.image.data }}" alt="{{author.profile}}" />
								<h6><i><b>{{author.profile.qualifications}}</b></i></h6>
							</div>
							<div class="col-9">
								<p class="card-text">
									{{author.profile.profession}} | {{author.profile.position}} @ {{author.profile.employment}}
									with {{author.profile.experience}} year{{author.profile.experience|pluralize}} of Experience
								</p>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<small>
							<a href="https://facebook.com/{{author.profile.facebook}}"
								class="btn btn-primary btn-sm" target="_blank">Facebook</a>
							<a href="tel:{{author.profile.phone}}" class="btn btn-primary btn-sm" target="_blank">Phone</a>
							<a href="mailto:{{author.email}}" class="btn btn-primary btn-sm" target="_blank">Email</a>
						</small>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock content %}